
<head>
    <style>

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: blue;
  color: white;
}

</style>

</head>

<section>
    <div class="container mt-4">
        <div class="row"> 
    
       
    <div class="col-md-3">
   
         <h2>{{dataTitle}}</h2> 
        <h4>{{stid}}</h4>
         <table class="table">
             <thead class="thead-dark">
                 <tr>
                     <th scope="col">#</th>
                     <th scope="col">id</th>
                     <th scope="col">name</th>
                    
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor="let product of products; index as i ">
                  <th scope="row">{{i+1}}</th>
                  <td>{{product.id}}</td>
                  <td>{{product.name}}</td>
                    
                  
              <td (click)="onEditproduct(i)" ><a class="text-danger"><i class="fa fa-eye"></i></a></td>
              
             </tr>
         </tbody >
     </table>
     <div *ngIf="fetching" class="text-center">
         <div class="spinner-border text-warning" role="status">
             <span class="sr-only">Loading...</span>
            Fetching Product</div>
  </div>
</div>

<div class="col-md-8  mx-auto ">

    <div><tr>
        <th>Admission No:</th>
        <th><div class="form-group">
            
            <input type="text" class="form-control" id="id" #id>
        </div></th>
        
      </tr>
      <tr>
        <th></th>
        
      </tr>
      <tr>
        <th></th>
        
        
      </tr>
      <tr>
        <th>Students Name:</th>
        <th><div class="form-group">
           
            <input type="text" class="form-control" id="name" #name>
        </div></th>
      </tr>
      <tr>
        <th>Class:</th>
        <th><label for="english">IX</label></th>
      </tr>
    </div>
<table id="customers">
  <tr>
    <th>Subject Code</th>
    <th>Subject</th>
    
    <th>Mark</th>
  </tr>
  <tr>
    <td>184</td>
    <td> <div class="form-group">
        <label for="english">English Language & Literature</label>
        
    </div></td>
    <td><input type="text" class="form-control" id="english" #english></td>
  </tr>
  <tr>
    <td></td>
    <td><div class="form-group">
        
        <input type="text" class="form-control" id="sclanguage" #sclanguage>
    </div></td>
    <td> <div class="form-group">
        
        <input type="text" class="form-control" id="mark" #mark>
    </div></td>
  </tr>
  <tr>
    <td>041</td>
    <td><div >
        <label for="maths">Mathematics</label>
        
    </div></td>
    <td><div><input type="text" class="form-control" id="maths" #maths></div></td>
  </tr>
  <tr>
    <td>086</td>
    <td><div>
        <label for="science">Science</label>
        
    </div></td>
    <td><input type="text" class="form-control" id="science" #science></td>
  </tr>
  <tr>
    <td>087</td>
    <td><div>
        <label for="ss">Social Science</label>
        
    </div></td>
    <td><input type="text" class="form-control" id="ss" #ss></td>
  </tr>
</table>

</div>
</div>
</div>
</section>
    
